{% block menu %}
    <div id="menu">
        <ul id="menu">
        <span id="begin">
            <li>
                <a href={{ path("book_homepage") }}>Главная</a>
            </li>
        </span>
        <span id="middle">
            <li>
                <a href={{ path("book_index") }}>Книги</a>
            </li>
        </span>
        <span id="middle">
            <li>
                <div id="user">
                    Логин:{%  if app.user == "" %}anonymous{% else %} {{ app.user }} {% endif %}
                </div>
            </li>
        </span>
        <span id="middle">
            <li>
                <a href={{ path("fos_user_security_login") }}>Войти</a>
            </li>
        </span>
        <span id="end">
            <li>
                <a href={{ path("fos_user_registration_register") }}>Регистрация</a>
            </li>
        </span>
        </ul>
    </div>
{% endblock %}